.star-box {}
.star-name {
  font-size: 14px;
  line-height: 16px;
  writing-mode: vertical-lr;
}
.star-brightness {
  font-size: 10px;
  text-align: center;
  color: #00000090;
}
.star-mutagen {
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--color-major);
}